{% spaceless %}
<meta charset="UTF-8">
<title>

{%- if page_title is not empty -%}
    {{- page_title | raw -}}
{%- else -%}
    {{- title | raw -}}
{%- endif -%}

</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link rel="apple-touch-icon" sizes="57x57" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-57x57.png') -}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-60x60.png') -}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-72x72.png') -}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-76x76.png') -}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-114x114.png') -}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-120x120.png') -}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-144x144.png') -}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-152x152.png') -}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-180x180.png') -}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{- asset('bundles/symfonyidadmin/img/android-icon-192x192.png') -}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-72x72.png') -}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-114x114.png') -}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{- asset('bundles/symfonyidadmin/img/apple-icon-72x72.png') -}}">
<link rel="manifest" href="{{- asset('bundles/symfonyidadmin/img/manifest.json') -}}">
<meta name="msapplication-TileImage" content="{{- asset('bundles/symfonyidadmin/img/ms-icon-144x144.png') -}}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

{%- stylesheets
    'bundles/symfonyidadmin/css/AdminLTE.min.css'
    'bundles/symfonyidadmin/css/skins/skin-green.min.css'
    'bundles/symfonyidadmin/css/style.css'
-%}
    <link rel="stylesheet" href="{{- asset_url -}}" />
{%- endstylesheets -%}

{%- if use_date_picker is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') -}}" />
{%- endif -%}

{%- if use_editor is not empty -%}
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
{%- endif -%}

{%- if use_autocomplete is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/plugins/select2/select2.css') -}}" />
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/plugins/select2/select2-bootstrap.css') -}}" />
{%- endif -%}

{%- if use_file_style is not empty -%}
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/plugins/bootstrap-fileinput/css/fileinput.min.css') -}}" />
{%- endif -%}

{%- if css is not empty -%}
    {{- css | raw -}}
{%- endif -%}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% endspaceless %}
