{%- extends 'SymfonyIdAdminBundle::layout.html.twig' -%}

{% block css %}
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/css/bootstrap-toggle.min.css') -}}" />
{% endblock %}

{%- block breadcrumb -%}
    <li><a href="#" class="active">{{- page_title | upper -}}</a></li>
    <li><a href="#" class="active">{{- (action_method ~ ' ' ~ page_title) | upper -}}</a></li>
{%- endblock -%}

{%- block page_title -%}
    {{- page_title -}}
{%- endblock -%}

{%- block page_description -%}
    {{- page_description -}}
{%- endblock -%}

{%- block menu -%}
    {{- knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) -}}
{%- endblock -%}

{%- block content -%}
    {% spaceless %}
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="box box-success box-solid">
                <div class="box-header">
                    <form role="form">
                        <div class="input-group">
                            <input type="text" name="filter" class="form-control siab-search" placeholder="{{- 'message.search' | trans({'%filters%': filter_fields}, 'SymfonyIdAdminBundle') -}}">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="box-body with-border table-responsive padding-7 sfid-content">
                    {%- include 'SymfonyIdAdminBundle:User:list_template.html.twig' -%}
                </div>
            </div>
        </div>
        <div class="modal modal-warning delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{- 'message.info' | trans({}, translation_domain) -}}</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="response-message">{{- 'message.delete_confirmation' | trans({}, translation_domain) -}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary action-close pull-left" data-dismiss="modal">{{- 'action.close' | trans({}, translation_domain) -}}</button>
                        <button type="button" class="btn btn-danger delete-action pull-left">{{- 'action.delete' | trans({}, translation_domain) -}}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block javascript -%}
    {% spaceless %}
        <script src="{{- asset('bundles/symfonyidadmin/js/bootstrap-toggle.min.js') -}}" type="text/javascript"></script>
        <script type="text/javascript">
            Array.prototype.clean = function() {
                for (var i = 0; i < this.length; i++) {
                    if ('' === this[i] || 'undefined' === typeof this[i] || null === this[i]) {
                        this.splice(i, 1);
                        i--;
                    }
                }
                return this;
            };

            jQuery(document).ready(function () {
                //All Checkbox is unchecked by default
                jQuery('.bulk-action').prop('checked', false);
                jQuery('.check-all-action').prop('checked', false);
                jQuery('.sfid-toggle').bootstrapToggle();

                jQuery(document).on('click', '.add-new', function () {
                    window.location = createActionUrl('new');
                });

                jQuery(document).on('click', '.show', function () {
                    window.location = createActionUrl(jQuery(this).data('record') + '/show');
                });

                jQuery(document).on('click', '.edit', function () {
                    window.location = createActionUrl(jQuery(this).data('record') + '/edit');
                });

                jQuery(document).on('click', '.change-password', function () {
                    window.location = createActionUrl(jQuery(this).data('record') + '/change-password');
                });

                jQuery(document).on('click', '.delete', function () {
                    window.location = createActionUrl(jQuery(this).data('record') + '/show?delete');
                });

                jQuery(document).on('click', '.bulk-delete', function () {
                    jQuery('.delete-modal').modal({
                        backdrop: 'static'
                    });
                });

                jQuery(document).on('click', '.download-record', function () {
                    window.location = createActionUrl('download');
                });

                jQuery(document).on('change', '.check-all-action', function () {
                    jQuery('.bulk-action').prop('checked', true);
                });

                jQuery(document).on('click', '.delete-action', function () {
                    jQuery(document).on('click', '.action-close', function () {
                        window.location.reload();
                    });

                    var ids = jQuery('.bulk-action:checked').map(function() {
                        return jQuery(this).data('record');
                    }).get();

                    var url = window.location.pathname.replace('list', 'bulk-delete').replace('#', '');
                    if (0 > url.indexOf('bulk-delete')) {
                        var temp = url.split('/');
                        temp.clean();
                        temp.push('bulk-delete');
                        url = temp.join('/');
                    }

                    url = window.location.protocol + '//' + window.location.host + '/' + url + '/';
                    jQuery.ajax({
                        url: url,
                        type: 'DELETE',
                        data: {
                            id: ids
                        }
                    }).done(function (response) {
                        jQuery('.response-message').html(response.message);
                        jQuery('.delete-action').remove();
                        jQuery('.delete-modal').modal({
                            backdrop: 'static'
                        });
                    });
                });
            });

            function createActionUrl(actionUrl) {
                var url = document.location.pathname;
                url = (0 < url.indexOf('?'))? url.split('?')[0]: url;
                if (0 < url.indexOf('list')) {
                    url = url.replace('list', actionUrl);
                } else {
                    url = url + actionUrl;
                }

                return url;
            }
        </script>
        {%- include 'SymfonyIdAdminBundle:Crud:list_jquery.html.twig' -%}
    {% endspaceless %}
{%- endblock -%}
