{%- extends 'SymfonyIdAdminBundle::layout.html.twig' -%}

{% block css %}
    <link rel="stylesheet" href="{{- asset('bundles/symfonyidadmin/css/bootstrap-toggle.min.css') -}}" />
{% endblock %}

{%- block breadcrumb -%}
    <li><a href="#" class="active">{{- page_title | upper -}}</a></li>
{%- endblock -%}

{%- block page_title -%}
    {{- page_title -}}
{%- endblock -%}

{%- block page_description -%}
    {{- page_description -}}
{%- endblock -%}

{%- block menu -%}
    {{- knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) -}}
{%- endblock -%}

{%- block content -%}
    {% spaceless %}
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="box box-success box-solid">
            <div class="box-header">
                <h3 class="box-title">{{- page_title -}}</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-7">
                {%- for property in data -%}
                    <div class="col-md-2 col-lg-2 col-sm-2 border-left">
                        {{- property.name | humanize -}}
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-10">
                        {%- if property.value.timezone is defined -%}
                            {{- property.value | date(date_time_format) -}}
                        {%- else -%}
                            {%- if property.value is iterable -%}
                                {%- set value = '' -%}
                                {%- for i, v in property.value -%}
                                    {%- set value = value ~ v ~ ', ' -%}
                                {%- endfor -%}
                                {{- value | trim(', ') | raw -}}
                            {%- else -%}
                                {% if property.value is boolean %}
                                    <label>
                                        <input {% if property.value is same as(true) %}{{ 'checked' }}{% endif %} disabled class="sfid-toggle" data-onstyle="success" type="checkbox">
                                    </label>
                                {% else %}
                                    {{- property.value | raw -}}
                                {% endif %}
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                {%- endfor-%}
                </div>
                <div>
                    <a href="{{- url('home') -}}" class="btn btn-primary">{{- 'action.back_to_home' | trans({}, translation_domain) -}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endspaceless %}
{%- endblock -%}

{%- block javascript -%}
    {% spaceless %}
        <script src="{{- asset('bundles/symfonyidadmin/js/bootstrap-toggle.min.js') -}}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.sfid-toggle').bootstrapToggle();
            });
        </script>
    {% endspaceless %}
{%- endblock -%}
